@import '../../global.scss';

.menu {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  left: -100vw;
  z-index: 2;
  transition: all 0.5s ease;
  &.active {
    left: 0;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;

    .spacer {
      flex: 0.2;
      background-color: $mainColor;
    }
    ul {
      flex: 0.55;
      margin: 0;
      padding: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      list-style: none;
      background-color: $mainColor;
      top: 0;
      font-size: 30px;
      font-weight: 300;
      color: white;
      border-radius: 0 20% 20% 0;
      &.desktop {
        flex: 0.15;
      }
      li {
        margin-bottom: 20px;
        &:hover {
          color: $accentColor;
          transform: translate(10px);
        }
        .icon {
          margin-right: 10px;
          &:hover {
            color: $accentColor;
          }
        }
        a {
          font-size: inherit;
          color: $mainColor;
          text-decoration: none;
          // transition: color 1s ease;
          &.active {
            color: white;
          }
          &:hover {
            color: $accentColor;
          }
        }
        &:hover {
          font-weight: 500;
        }
      }
    }
    .closer {
      flex: 0.4;
      &.desktop {
        flex: 0.8;
      }
    }
  }
}
