@import '../../global.scss';

.topbar {
  margin-bottom: 1px;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      .menuButton {
        font-size: 40px;
        cursor: pointer;
      }
      .closeButton {
        font-size: 40px;
        cursor: pointer;
      }
    }
    .middle {
      .logo {
        font-family: 'Italianno', cursive;
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        // margin-right: 40px;
      }
    }
    .right {
      display: flex;
      align-items: center;

      > * {
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  &.active {
    background-color: $mainColor;
    color: white;
  }
}
