@import '../../global.scss';

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mainColorFaded5;
  .container {
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      // for all the other broswers
      display: none;
    }
    width: 100%;
    // height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    position: relative;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-image: linear-gradient(#184e77 0%, #25247a 100%);
      h1 {
        padding-top: 5px;
        font-size: 50px;
      }
      ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        // white-space: nowrap;
        // align-items: center;
      }
      .seperator {
        width: 90vw;
        height: 10px;
        border-radius: 10px;
        border-bottom: 1px solid $accentColor;
      }
    }
    .content {
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: auto;
      // scrollbar-width: none; // for firefox
      // &::-webkit-scrollbar {
      //   // for all the other broswers
      //   display: none;
      // }
    }
  }
}
