@import '../../global.scss';

.portfolioItem {
  scrollbar-color: white $mainColor;
  cursor: pointer;
  width: 40vw;
  height: 150px;
  min-height: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 20px;
  border: 1px solid $accentColor;
  margin: 10px 20px;
  transition: all 0.5s ease;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  padding: 5px 10px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: none; // for firefox
  &::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    background-color: $mainColorFaded;
  }

  &.mobile {
    width: 90vw;
    height: auto;
  }

  .top {
    h3 {
      font-size: 20px;
      font-family: 'Playfair Display', serif;
    }
    span {
      font-size: 15px;
      scrollbar-width: none; // for firefox
      &::-webkit-scrollbar {
        // for all the other broswers
        display: none;
      }
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    img {
      margin: 2px;
    }
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
