@import '../../global.scss';

.portfolioMenu {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s ease;
  border: 0.5px solid $accentColor;
  font-family: $specialFont;
  background-color: $mainColorFaded5;
  font-weight: bold;

  span {
    font-weight: normal;
  }

  &:hover {
    &.false {
      transform: scale(1.05);
      cursor: pointer;
    }
    cursor: default;
    background-color: $mainColorFaded;
  }

  &.active {
    background-color: $mainColor;
    border: none;
    font-weight: normal;
    color: white;
  }

  &.flash {
    animation: flashing 1s infinite;
  }
  @keyframes flashing {
    0% {
      background-color: $mainColorFaded5;
    }
    50% {
      background-color: $mainColorFaded;
    }
    100% {
      background-color: $mainColorFaded5;
    }
  }
}
