@import '../../global.scss';

.about {
  background-color: $mainColorFaded5;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      // for all the other broswers
      display: none;
    }
    width: 100%;
    // height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    justify-content: center;

    position: relative;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      .main {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 30px;
        color: $mainColor;
      }
      .t {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 30px;
        color: $accentColor;
      }
    }
    .content {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .top {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      .quoteContainer {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $mainColorFaded10;
        border-radius: 10px;
        text-align: center;
        width: 600px;
        padding: 10px;
        margin: 10px;
        &.mobile {
          width: 330px;
        }
        h2 {
          font-family: $quoteFont;
          mark {
            color: $accentColor;
            background: none;
            font-style: italic;
          }
        }
      }
      .bottom {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}
