@import '../../global.scss';
.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;
    .imgContainer {
      width: 120vh;
      height: 120vh;
      background-color: $accentColor;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      img {
        height: 100%;
        right: 200px;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    &.mobile {
      flex: 1;
    }
    .wrapper {
      width: 100%;
      height: 85%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.mobile {
        height: 70%;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        span {
          font-size: inherit;
          color: $accentColor;
        }

        .ityped-cursor {
          animation: blinkCursor 1s infinite;
        }

        @keyframes blinkCursor {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &.desktop {
        bottom: 10px;
      }
      .arrow {
        color: black;
        font-size: 60px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
