@import '../../global.scss';

.experienceItem {
  // display: flex;
  // align-items: start;
  // flex-direction: column;
  // justify-content: center;
 .title{
    font-size: 20px;
    font-weight: 600;
    font-family: $specialFont;
    border-bottom: 1px solid $accentColor;
    border-radius: 0px 5px;
 }
}