$mainColor: #184e77;
$mainColorFaded: #184e776c;
$mainColorFaded5: #184e7718;
$mainColorFaded10: #184e7727;
$accentColor: #e7a113;
$accentColorFaded: #e7a01359;

$quoteFont: 'IM Fell French Canon', serif;
// $logoFont: 'Italianno', cursive;
$logoFont: 'Allura', cursive;
// $specialFont: 'Playfair Display', serif;
$specialFont: 'PT Serif', serif;
